# Ficheiros temporários e logs do Vivado
*.jou
*.log
*.str
*.zip
.Xil/

# Pastas pesadas geradas automaticamente (NÃO FAZER UPLOAD DESTAS)
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# Ficheiros do SDK / Vitis (se tiveres workspace lá dentro)
workspace/
.metadata/
